<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <!-- Brand -->
    <a class="navbar-brand mat-h1" href="#">Convergence</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Options
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Create Team</a>
                <a class="dropdown-item" href="#">Create Task</a>
            </div>
        </li>
        <li>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </li>
    </ul>

</nav>
