/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';

.side-expansion-color{
    background-color: #F5F5F5;
}

.button-color{
    background-color: #CFD8DC;
}

.fill-space {
    flex: 1 1 auto;
}